/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------------------------------------------------------------------------*/
.wrapper {
  background: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
 

}

.container {
  max-width: 1124px;
  margin: 0 auto;
}
body{
  user-select: none;
  overflow-x: hidden;
  a{
    color: inherit;
  }
}
/*-------------------------------------------------------------------------------------*/
.header {
  // .header_body
  z-index: 3;
		&__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 28px 10px;
		}

		// .header_title

		&__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
		}

		// .header_list

		&__list {
      display: flex;
      :not(:last-child){
        margin: 0px 52px 0px 0px;
      }
		}

		// .header_li

		&__li {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      animation: noanimate 0.5s ease-in forwards;
      transition: all 0.5 ease;
      :hover{
          color: black;
          transition: all 0.5s ease;
        
      }
		}
    @media (max-width:500px) {
      &__list {
        :not(:last-child){
          margin: 0px 10px 0px 0px;
        }
      }
    }
}
.grad{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background:  linear-gradient(#c31432,#3a00d8);
 
}
.discription {
margin-top: 876px;
  // .discription_body
  background:  linear-gradient(#3a00d8,#000002);
  &__body {
    text-align: center;
    align-items: center;
    padding: 100px 0px 300px 0px;
  }
  // .discription_text

  &__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0px 30px
  }
}
.portfolio {
  background:  linear-gradient(#000002,#5b0583);
  // .portfolio_body

  &__body {
    padding: 100px 0px 100px 0px;
    margin: 0px 30px;
  }

  // .portfolio_colums

  &__colums {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -41px;
    justify-content: center;
    align-items: center;
  }

  // .portfolio_colum

  &__colum {
    padding: 0px 41px;
    flex: 0 1 33.333%;

    perspective: 1000px;
    transform-style: preserve-3d ;
  }

  // .portfolio_image

  &__image {
    transition: all 0.2s ease ;
  }
  @media (max-width:430px) {
    &__image {
     img{
       width: 300px;
     }
    }
    
  }
  // .portfolio_btn
&__text{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19.6913px;
    line-height: 160%;
    color: white;
}

  &__btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19.6913px;
    line-height: 160%;
    color: white;
    padding: 0px 10px;
    margin: 30px 0px;
    background:  #BD00FF;
    border-radius: 10px;
    transition: all 0.2s ease;
    &:hover{
      transition: all 0.5s ease;
      background:#06DBAC;
      color: black;
    }
  }
}

.footer {
  background-color:#5b0583 ;
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;         
    padding: 100px 0px 30px 0px;                        
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 10px 30px 10px;
  }

  // .footer__input

  &__input {
    background: #FFFFFF;
    opacity: 0.25;width: 300px;
    height: 44px;
    border-radius: 50px 0px 0px 50px;
    
  }
  &__input[value="E-mail"]{
    padding: 0px 0px 0px 30px;
    
    
  }
  // .footer__button

  &__button {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: white;
      text-align: center;
      padding: 10px 30px;
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
      border-radius: 0px 50px 50px 0px;
      
      
  }
}
#c {
  padding: 0;
  display: flex;
}
